
body{
  background-color: #D4ECDD;

}

.heading{
  font-family: Montserrat-Black;
}
.container-fluid{
  display:flex;
  flex-direction: column;
  width:50vw;
  margin-top: 2em;
  text-align: center;
  

}
#check-button{
    margin-top: 0.5em;

}
label{
    font-size: larger;
    margin-bottom: 0em;
}